<h2>

<% @contacts.each do |contact| %>

<article class="contact">
<p><%= contact.full_name %> (<%= contact.email %>)<p>
<aside><a href="#">Edit</a> | <a href="#">Delete</a></aside>
</article>

<% end %>
