<h1>Contacts</h1>
<% @contacts.each do |contact| %>
  <ul>
    <li>Full name: <%= contact.full_name %> </li>
    <li>Email: <%= contact.email %></li>
  </ul>
  <% end %>

<p>Back to the <a href="/">home page</a>.
